apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: cloudflare-ddns
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: cloudflare-ddns
            image: jamcswain/cloudflare-ddns:1.0.0
          restartPolicy: OnFailure
